body {
    margin: 0;
}

ul {
    text-align: center;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 20px 0;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

img {
    display: block;
}

#katsura {
    position: relative;
    margin: 0 0;
    z-index: 1;
}

#hage {
    position: relative;
    margin: 0 auto;
    padding-top: 90px;
    z-index: 0;
}

#fall {
    display: block;
    margin: 0 auto;
    background-color: #1abc9c;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    line-height: 32px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    font-size: 20px;
}

#fall:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
}
#fall:active {
    top: 3px;
    box-shadow: none;
}
